.sidebar {
  width: 20%;
  display: block;
  background-color: #d4d4d449;
}

.sidebar button {
  background-color: #481620;
  border: none;
  text-align: center;
  font: normal 18px "Open Sans", sans-serif;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  width: 250px;
  color: #fff;
}

.sidebar button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 10px #658e9c;
  transition: ease-in-out, 0.75s;
}

.sidebar li {
  list-style: none;
}

.sidebar h3 {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    display: block;
  }
  .sidebar button {
    width: 80%;
    padding: 20px;
    margin: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
