.deleteForm {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #481620;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
  }
  
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #0075A2;
    border: 1px solid #0075A2;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #5faccb;
    border-color: #5faccb;
  }
  
  .deleteForm button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #0075A2;
    border: 1px solid #0075A2;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .deleteForm button:hover {
    background-color: #5faccb;
    border-color: #5faccb;
  }
  
  
  .deleteForm h2 {
      color: white;
  }
  
  .icon {
    width: 150px;
    height: 150px;
    padding-bottom: 25px;
    color: azure;
  }
  