.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: #000000bf;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: #eee8e8;
  box-shadow: 5px 5px 10px #979595b7;
  border-radius: 10px;
}

.header {
  background: #481620;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

.table th,
.table td {
  padding: 0.625em;
  text-align: center;
}

.table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  .table caption {
    font-size: 1.3em;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a .table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}

.table li {
  list-style-type: none;
}

.table img {
    width: 15%;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.actions button {
  background-color: transparent;
  border-color: transparent;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.info_div {
  font-size: 20px;
}

